<td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
  <table>
    <tr>
      <td>
        <div class="text" style="padding: 0 2.5em; text-align: center;">
          <h2>Hey {{firstName}},</h2>
          <br />
          <h3>Heard you forgot your password, we all do that some times.</h3>
          <h3>Here is the reset code to get you started on resetting your password.</h3>
          <p style="font-weight: bolder; font-size: 3rem; padding-top: 1rem;color: rgb(0,0,0);">{{resetCode}}</p>
        </div>
      </td>
    </tr>
  </table>
</td>
