<td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
  <table>
    <tr>
      <td>
        <div class="text" style="padding: 0 2.5em; text-align: center;">
          <h2>Hey {{firstName}},</h2>
          <br />
          <h3>Your password has been reset successfully.</h3>
        </div>
      </td>
    </tr>
  </table>
</td>
