<td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
  <table>
    <tr>
      <td>
        <div class="text" style="padding: 0 2.5em; text-align: center;">
          <h2>Hey {{firstName}},</h2>
          <br />
          <h3>Thanks for signing up with Atheneum. Hope you find it as useful as I do.</h3>
          <h3>In order to make sure you can gain access to your account whenever you forget your password, you'll need to verify it using the coed below.</h3>
          <br />
          <p style="font-weight: bolder; font-size: 3rem; padding-top: 1rem;color: rgb(0,0,0);">{{verificationCode}}</p>
        </div>
      </td>
    </tr>
  </table>
</td>
